body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    to right,
    rgba(107, 78, 144, 1) 0%,
    rgba(49, 21, 87, 1) 100%
  );
}

h1 {
  font-family: "Zen Dots", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
